<div class="flex justify-center">
    <div class="grid grid-cols-4" x-data="{ tiles: Array(16) }">
        <template x-for="tile in tiles">
            <img src="https://robohash.org/1.png?bgset=bg1&set=set4"
             x-on:click="alert('Hello World!')" class=" h-8 w-8 bg-yellow-500"/>
        </template>
</div>
</div>