<a class="block m-7" href="/tictactoe">TictacToe</a>
<a class="block m-7" href="/snake">Snake</a>
<a class="block m-7" href="/space_invader">Space Invader</a>
<a class="block m-7" href="/concentration">Concentration</a>
<a class="block m-7" href="/dino">Dinosaur Game</a>
