<div class="w-100">
    <h1 id="timer">0</h1>
    <h1 id="score">0</h1>
    <button id="restart" class="bg-blue-500 text-white py-2 px-4 rounded">Restart</button>
</div>
<div class="w-100">

   <% 10.times.each do |row| %>
        <div class="flex items-center justify-center">
            <% 10.times.each do |column| %>
                <div class="h-10 w-10" data-index='<%= row*10 + column %>'></div>
            <% end %>
        </div>
   <% end %>
</div>
<h1>High Scores</h1>
<% Score.all.sort_by {|score| score.score.to_i }[0..9].each do |score| %>
    <div>
        <%= score.user.nil? ? "unregistered" : score.user.username %>
        <%= score.score %>
        <%= score.created_at %>
    </div>
<% end %>
<div id='output'>

</div>
<script src="/snake.js"></script>