<div class="text-3xl" id="game-status">
    It's O's turn.
    It's X's turn.
    It's a draw.
    O won.
    X won.
</div>
<div class="w-96 grid grid-cols-3 gap-3 text-center text-7xl cursor-pointer">
   <div class="m-auto h-32 tictactoe-cell border-blue-900 border-2 bg-white-900 w-32 flex items-center justify-center" data-index='0'></div>
   <div class="m-auto h-32 tictactoe-cell border-blue-900 border-2 bg-white-900 w-32 flex items-center justify-center" data-index='1'></div>
   <div class="m-auto h-32 tictactoe-cell border-blue-900 border-2 bg-white-900 w-32 flex items-center justify-center" data-index='2'></div>
   <div class="m-auto h-32 tictactoe-cell border-blue-900 border-2 bg-white-900 w-32 flex items-center justify-center" data-index='3'></div>
   <div class="m-auto h-32 tictactoe-cell border-blue-900 border-2 bg-white-900 w-32 flex items-center justify-center" data-index='4'></div>
   <div class="m-auto h-32 tictactoe-cell border-blue-900 border-2 bg-white-900 w-32 flex items-center justify-center" data-index='5'></div>
   <div class="m-auto h-32 tictactoe-cell border-blue-900 border-2 bg-white-900 w-32 flex items-center justify-center" data-index='6'></div>
   <div class="m-auto h-32 tictactoe-cell border-blue-900 border-2 bg-white-900 w-32 flex items-center justify-center" data-index='7'></div>
   <div class="m-auto h-32 tictactoe-cell border-blue-900 border-2 bg-white-900 w-32 flex items-center justify-center" data-index='8'></div>
</div>
<div id="reset-game">
   Reset Game
</div>
<script src="/tictactoe.js"></script>