<div x-data="instagram">
  <!-- prettier-ignore -->
  <%= render('mainbody') %>
</div>
<script>
  document.addEventListener("alpine:init", () => {
    Alpine.data("instagram", () => ({
      searchTerm: "",
      searchResults: [],
      currentUserId: <%= current_user.id %>,
      init() {
        const socket = new WebSocket("ws://localhost:3000/cable")
        socket.onopen = function(event) {
          console.log('connected')
        }

      },

      async destroyLike(photo_id) {
        const result = await fetch(`/likes/null`, {
          method: "DELETE",
          headers: {
            "Content-Type": "application/json",
            "X-CSRF-Token": document.querySelector("[name='csrf-token']")
              .content,
          },
          body: JSON.stringify({ photo_id: photo_id }),
        });

      },

      async createLike(photo_id) {
        const result = await fetch(`/likes`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "X-CSRF-Token": document.querySelector("[name='csrf-token']")
              .content,
          },
          body: JSON.stringify({ photo_id: photo_id }),
        });
      },

      async createComment(photo_id, comment) {
        const result = await fetch(`/instagram_comments`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "X-CSRF-Token": document.querySelector("[name='csrf-token']")
              .content,
          },
          body: JSON.stringify({ photo_id: photo_id, content: comment }),
        });
        const data = await result.json();
        console.log(data);
        return data;
      },

      async destroyComment(comment) {
        const result = await fetch(`/instagram_comments/${comment.id}`, {
          method: "DELETE",
          headers: {
            "Content-Type": "application/json",
            "X-CSRF-Token": document.querySelector("[name='csrf-token']")
            .content,
            },
          });
        if (comment.user_id != this.currentUserId){
          toastr.warning(

            "Do Not Destroy Other Users' Comments",
            "Destroy Failed"
          );
        } else {
          if (result.status >= 200 && result.status < 300){
            toastr.success(
              "",
              "Successfully Destroyed!"
            )
          }
        }

      },

      async search(term, page) {
        const result = await fetch(
          `/instagram/search?search=${term}&page=${page}`,
          {
            method: "GET",
            headers: { "Content-Type": "application/json" },
          }
        );
        const data = await result.json();
        const newSearchResults = data.results;
        if (page === 1) {
          this.searchResults = newSearchResults;
        } else {
          this.searchResults = this.searchResults.concat(newSearchResults);
        }
        console.log(this.searchResults);
      },
    }));
  });
</script>
