<div x-data="instagram">
  <!-- prettier-ignore -->
  <%= render('navbar') %>
  <%= render('mainbody') %>
</div>
<script>
  document.addEventListener("alpine:init", () => {
    Alpine.data("instagram", () => ({
      searchTerm: "",
      searchResults: [],

      init() {},

      async createLike(photo_id) {
        const result = await fetch(`/likes`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "X-CSRF-Token": document.querySelector("[name='csrf-token']")
              .content,
          },
          body: JSON.stringify({ photo_id: photo_id }),
        });
      },

      async search(term) {
        const result = await fetch(`/instagram/search?search=${term}`, {
          method: "GET",
          headers: { "Content-Type": "application/json" },
        });
        const data = await result.json();
        this.searchResults = data.results;
        console.log(this.searchResults);
      },
    }));
  });
</script>
