<div x-data="instagram">
  <!-- prettier-ignore -->
  <%= render('navbar') %>
  <%= render('mainbody') %>
</div>
<script>
  document.addEventListener("alpine:init", () => {
    Alpine.data("instagram", () => ({
      searchTerm: "",
      searchResults: [
        {
          url: "https://images.pexels.com/photos/2291006/pexels-photo-2291006.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=1200&w=800",
          photographer: "sergio  souza",
          attribute: "Top View Photo of Soccer Field",
        },
        {
          url: "https://images.pexels.com/photos/1657332/pexels-photo-1657332.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=1200&w=800",
          photographer: "Martí Pardo",
          attribute: "Soccer Field Under Red Sky",
        },
        {
          url: "https://images.pexels.com/photos/159684/soccer-football-soccer-player-sport-159684.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=1200&w=800",
          photographer: "Pixabay",
          attribute: "Person Playing Soccer",
        },
        {
          url: "https://images.pexels.com/photos/1311616/pexels-photo-1311616.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=1200&w=800",
          photographer: "Maurício Mascaro",
          attribute: "Man Playing Soccer Ball",
        },
        {
          url: "https://images.pexels.com/photos/1311619/pexels-photo-1311619.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=1200&w=800",
          photographer: "Maurício Mascaro",
          attribute: "Man on Shore Doing Soccer Trick",
        },
        {
          url: "https://images.pexels.com/photos/159555/soccer-football-athlete-player-159555.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=1200&w=800",
          photographer: "Pixabay",
          attribute: "Man in Red Nike Jersey Shirt Playing Soccer",
        },
        {
          url: "https://images.pexels.com/photos/159698/soccer-football-sport-ball-159698.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=1200&w=800",
          photographer: "Pixabay",
          attribute: "2 Soccer Player Had a Collision",
        },
        {
          url: "https://images.pexels.com/photos/3571065/pexels-photo-3571065.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=1200&w=800",
          photographer: "nmr hrd",
          attribute: "High Angle Photo of Grass Field",
        },
        {
          url: "https://images.pexels.com/photos/1657328/pexels-photo-1657328.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=1200&w=800",
          photographer: "Martí Pardo",
          attribute: "Group of Men Playing Soccer",
        },
        {
          url: "https://images.pexels.com/photos/264384/pexels-photo-264384.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=1200&w=800",
          photographer: "Pixabay",
          attribute: "Woman Joggling Soccer Ball",
        },
      ],

      init() {},

      async search(term) {
        const result = await fetch(`/instagram/search?search=${term}`, {
          method: "GET",
          headers: { "Content-Type": "application/json" },
        });
        const data = await result.json();
        this.searchResults = data.results;
        console.log(this.searchResults);
      },
    }));
  });
</script>
