<div x-data="instagram">
  <!-- prettier-ignore -->
  <%= render('navbar') %>
  <%= render('mainbody') %>
</div>
<script>
  document.addEventListener("alpine:init", () => {
    Alpine.data("instagram", () => ({
      searchTerm: "",
      searchResults: [
        "https://images.pexels.com/photos/2291006/pexels-photo-2291006.jpeg",
        "https://images.pexels.com/photos/1657332/pexels-photo-1657332.jpeg",
        "https://images.pexels.com/photos/159684/soccer-football-soccer-player-sport-159684.jpeg",
        "https://images.pexels.com/photos/1311616/pexels-photo-1311616.jpeg",
        "https://images.pexels.com/photos/1311619/pexels-photo-1311619.jpeg",
        "https://images.pexels.com/photos/159555/soccer-football-athlete-player-159555.jpeg",
        "https://images.pexels.com/photos/159698/soccer-football-sport-ball-159698.jpeg",
        "https://images.pexels.com/photos/3571065/pexels-photo-3571065.jpeg",
        "https://images.pexels.com/photos/1657328/pexels-photo-1657328.jpeg",
        "https://images.pexels.com/photos/264384/pexels-photo-264384.jpeg",
      ],

      init() {},

      async search(term) {
        const result = await fetch(`/instagram/search?search=${term}`, {
          method: "GET",
          headers: { "Content-Type": "application/json" },
        });
        const data = await result.json();
        this.searchResults = data.results;
        console.log(this.searchResults);
      },
    }));
  });
</script>
